/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

body {
  font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
  /* unidade de medida vw - view width */
  width: 70vw;
  max-width: 70vw;
  /* unidade de medida vh - view height */
  height: auto;
  background: rgb(250, 250, 250);
  margin: 0 auto;
  color: #080808;
  list-style-type: none;

}

#cabecalho img {
  width: 250px; 
  height: 250px; 
  border-radius: 50%;
}

#header {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #3905b3;
  font-size: 20px;
  padding: 5px;
  width: 1000px;
  height: 300px;
  align-items: center;
  gap: 25px;
  list-style-type: none;
}

#content{
  display: flex;
}


#experiencias {
  display: flex;
  gap: 25px;

}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul li {
  
}